.font-5{
    font-size:5px!important;
}
.font-8{
    font-size:8px!important;
}
.font-10{
    font-size: 10px!important;
}
.font-12{
    font-size: 12px!important;
}
.font-15{
    font-size: 15px!important;
}
.font-18{
    font-size: 18px!important;
}
.font-20{
    font-size: 20px!important;
}
.font-22{
    font-size: 22px!important;
}
.font-25{
    font-size: 25px!important;
}


.fixed-plugin .btn.bg-gradient-primary:not(:disabled):not(.disabled):not(.active) {
   
    color: #fbf8fb;
}

.logout{
    cursor: pointer;
}